# Sleep health

In [1]:
import pandas as pd

df1 = pd.read_csv("./data/employee_survey.csv")
df2 = pd.read_csv("./data/job_stress_merge.csv")

In [6]:
df1 = df1.rename(columns={"Dept": "occupation"})
df2 = df2.rename(columns={"occupation1": "occupation"})

df2_subset = df2[[
    "occupation",
    "work_schedule_variability",
    "work_schedule_variability_logit",
    "pause_work",
    "pause_work_logit",
    "work_pace",
    "work_pace_pca"
]]

df_merged = df1.merge(
    df2_subset,
    on="occupation",
    how="left"
)
df_merged.head()

,EmpID,Gender,Age,MaritalStatus,JobLevel,Experience,occupation,EmpType,WLB,WorkEnv,...,EduLevel,haveOT,TrainingHoursPerYear,JobSatisfaction,work_schedule_variability,work_schedule_variability_logit,pause_work,pause_work_logit,work_pace,work_pace_pca
0,6,Male,32,Married,Mid,7,IT,Full-Time,1,1,...,Bachelor,True,33.5,5,0.276,-0.964392,0.944,2.824757,1.447515,-0.577181
1,11,Female,34,Married,Mid,12,Finance,Full-Time,1,1,...,Bachelor,False,36.0,5,0.279,-0.949429,0.977,3.748949,1.246218,-0.740119
2,33,Female,23,Single,Intern/Fresher,1,Marketing,Full-Time,2,4,...,Bachelor,True,10.5,5,0.236,-1.174737,0.995,5.293105,7.932585,4.483327
3,20,Female,29,Married,Junior,6,IT,Contract,2,2,...,Bachelor,True,23.0,5,0.276,-0.964392,0.944,2.824757,1.447515,-0.577181
4,28,Other,23,Single,Junior,1,Sales,Part-Time,3,1,...,Bachelor,False,20.5,5,0.605,0.426340,0.458,-0.168399,0.674643,-0.587966

In [7]:
df_merged.to_csv("./data/employee_survey_merge.csv", index=False)